#alumnos {
    padding-top: 5%;
    background-color: $fondoSeccion;
    border-radius: 50px;
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 30%;
    margin-bottom: 5%;
    .section-titles {
        h2 {
            @extend %titles;
        }
    }
    .sectionContent {
        p {
            font-family: $bodyFont;
            font-weight: 400;
            color: $colorOscuro;
            text-align: center;
        }
        .boxContent {
            background-color: $colorSecundarioLight;
            width: 50%;
            max-width: 800px;
            height: auto;
            border-radius: 40px;
            margin-left: 10%;
            margin-top: 1%;
            margin-bottom: 3%;
            z-index: 2;
            position: absolute;
            .textAndButtons {
                .flex-container {
                    display: flex;
                    justify-content: space-evenly;
                    .mini-card {
                        background: #FFD5AD;
                        width: 10%;
                        max-height: 60%;
                        flex: 0 10 10em;
                        margin-top: 1.25em;
                        margin-bottom: 1.25em;
                        border-radius: 5%;
                        img {
                            width: 20%;
                            display: block;
                            margin: auto;
                            padding-top: 3%;
                        }
                        .mini-card-text {
                            h4 {
                                padding-top: 3%;
                                color: $colorOscuro;
                                font-size: 1.25em;
                                text-align: center;
                                &:hover {
                                    color: $colorPrimario;
                                }
                            }
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
                p {
                    font-family: $bodyFont;
                    font-weight: 400;
                    text-align: center;
                    padding-bottom: 5%;
                }
                .studentsP {
                    padding-top: 5%;
                }
            }
        }
        .studentsIMG {
            z-index: 1;
            position: absolute;
            margin-left: 55%;
            img {
                width: 400px;
                border-radius: 20px;
                &:hover {
                    transform: scale(1.1);
                    transition: 90ms linear; 
                    -webkit-box-shadow: 6px -6px 29px -4px rgba(20,20,20,0.53);
                    -moz-box-shadow: 6px -6px 29px -4px rgba(20,20,20,0.53);
                    box-shadow: 6px -6px 29px -4px rgba(20,20,20,0.53);
                }
            }
        }
    }

}